/* === Tailwind Style === */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* === App Global Style === */
.main {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  min-height: 100vh;
}
